<link rel="stylesheet" href="../login.css">

<body id="loginbody">
    

<div id="contenedorlogin"> 
<section class="section_account">
    <h1>Login</h1>

    <form action="/api/session/login" method="POST" class="form-group">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button id="login" class="btn btn-primary" type="submit">Login</button>
    
    </form>
    <br>
     <a href="../reset-password" class="btn btn-info">Do you forget your password? Click here to reset your password</a>
    <br>
        <a><strong>If you don't have an account</strong></a>
        <br>
        <a href="../register" class="link-signup"><button class="btn btn-primary" type="submit">Sign up</button></a>
</section>
</div>

</body>