body{
    background-color: aqua;
}

#products {
    display: flex;
    justify-content: center;
}

#products ul li img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    background-attachment: fixed;
}