<main>
  <li>
                <a href="./productsview"><img src="../assets/img/flecha.png" alt=""></a>
            </li>
       <div style="text-align: center;"> <h3>TU CARRITO ESTA VACIO <img src="../assets/img/cart.png" alt=""></h3> <br> <p>Compra Cualquiera de nuestros productos, luego te llegara un mail con el ticket de compra y los detalles. NO TE PIERDAS NINGUN PRODUCTO </p></div>


</main>