
<main>
     
            <li>
                <a href="./productsview"><img src="../assets/img/flecha.png" alt=""></a>
            </li>
       
    <header>
        
        <h3 class="text-center">Shopping Cart</h3>
       
    </header>
    <div>
<div>
     {{#each !productsWithQuantities}}
           <h3 style="text-align: center;">Tu carrito esta Vacio</h3>
        
        {{/each}}
</div>
        
    </div>
    <div class="text-center" id="productocart">
        {{#each productsWithQuantities}}
            <img src="{{this.productDetail.thumbnail}}" alt="">
            <p>{{this.productDetail.title}}</p>
            <p>Cantidad:{{this.quantity}}</p>
        
        {{/each}}
    </div>
         <div class="text-center">
        <a id="purchase" class="btn btn-secondary">BUY</a>
    </div>
   
   
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('purchase').addEventListener('click', function() {
    const cartId = "{{cartId}}"
    fetch(`/api/carts/${cartId}/purchase`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
    })
    .then(response => {
        if (response.ok) {
            return response.json()  
            
        }
        throw new Error('Network response was not ok.')
    })
    .then(data => {
                if (data.status === 'success') {
                    Swal.fire({
                        icon: 'success',
                        title: 'PURCHASE SUCCESSFULL! WE HAVE SENT YOU AN EMAIL WITH ALL THE INFORMATION ABOUT THE PRODUCT YOU HAVE PURCHASE, THANK YOU!',
                        showConfirmButton: false,
                        allowOutsideClick: false,
                        footer: `<a href="/productsview">SEE MORE PRODUCTS</a>` 
                       
                    })
                    console.log(data)
                }         
    })
    .catch(error => {
        // Maneja errores aquí
        console.error('Error:', error)
    })
});

</script>

